{% extends 'base.html' %}

{% block content %}
<form class="form" action="/membros" method="POST">
    
    <h1>Novo Membro</h1>
    
    <label for="nome">Nome:</label>
    <input name="nome" id="nome" placeholder="Nome" type="text" required autofocus>
    
    <label for="sobrenome">Sobrenome:</label>
    <input name="sobrenome" id="sobrenome" placeholder="Sobrenome" type="text" required>
    
    <label for="data_nascimento">Data Nascimento:</label>
    <input name="data_nascimento" id="data_nascimento" placeholder="Data Nascimento:" type="date" required>

    <label for="ativo">Membro Ativo:</label>
    <select name="ativo" id="ativo">
        <option value="True">Sim</option>
        <option value="False">Não</option>
    </select>
    
    <button type="submit">Adicionar Membro</button>

</form>

{% endblock content %}

